html body {
    margin: 0;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px black solid;
    align-items: center;
    height: 100%;
    width: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
    border: 1px solid black;
    margin-top: 5px;
}

nav {
    background-color: chocolate;
    position: sticky;
    height: 65px;
    width: 100%;
    align-self: flex-end;
}